In [31]:
def goodinfo_crawler(stock_id):    
    import numpy as np
    import pandas as pd
    import requests
    from bs4 import BeautifulSoup
    url = f"https://goodinfo.tw/StockInfo/ShowK_Chart.asp?STOCK_ID={stock_id}&CHT_CAT2=DATE"
    header = {
    "user-agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.106 Mobile Safari/537.36",
    }
    res = requests.get(url, headers = header)
    #print(res.encoding) 印出request使用何種解碼
    #print(res.apparent_encoding) 印出網站如何編碼
    res.encoding = "utf-8"
    soup = BeautifulSoup(res.text, "html.parser")
    date_list = list()
    price_list = list()
    for i in range(54):
        table_row = soup.find_all("tr", {"id":f"row{i}"})[0]
        date = table_row.find_all("td")[0].text
        close_price = table_row.find_all("td")[4].text
        date_list.append(date)
        price_list.append(close_price)
    df = pd.DataFrame(price_list, index = date_list, columns = ["close_price"])
    df["five_day_ma"] = df["close_price"].rolling(5).mean()
    return df

In [32]:
goodinfo_crawler('2337')

03/20 24.25
03/19 22.05
03/18 24.5
03/17 25.35
03/16 27.2
03/13 29.1
03/12 30.65
03/11 33.4
03/10 34.8
03/09 33.5
03/06 34.95
03/05 35
03/04 33.5
03/03 32.85
03/02 31.7
02/27 33
02/26 34.85
02/25 35.6
02/24 36
02/21 35.8
02/20 35.6
02/19 35.35
02/18 38.15
02/17 38.7
02/14 38.45
02/13 38.85
02/12 38.9
02/11 38.85
02/10 38.2
02/07 39.45
02/06 40.9
02/05 40.25
02/04 38.45
02/03 38.2
01/31 38
01/30 36.5
01/20 39.7
01/17 39.3
01/16 39.95
01/15 38.75
01/14 39.25
01/13 38.8
01/10 37.95
01/09 38.35
01/08 38.5
01/07 37.6
01/06 38.95
01/03 38
01/02 38
12/31 37.2
12/30 37.4
12/27 38.05
12/26 36.8
12/25 37.1
['24.25', '22.05', '24.5', '25.35', '27.2', '29.1', '30.65', '33.4', '34.8', '33.5', '34.95', '35', '33.5', '32.85', '31.7', '33', '34.85', '35.6', '36', '35.8', '35.6', '35.35', '38.15', '38.7', '38.45', '38.85', '38.9', '38.85', '38.2', '39.45', '40.9', '40.25', '38.45', '38.2', '38', '36.5', '39.7', '39.3', '39.95', '38.75', '39.25', '38.8', '37.95', '38.35', '38.5', '37.6', '38.95', '38', '38', '37.2', '37.4', '38.05', '36.8', '37.1'] ['03/20', '03/19', '03/18', '03/17', '03/16', '03/13', '03/12', '03/11', '03/10', '03/09', '03/06', '03/05', '03/04', '03/03', '03/02', '02/27', '02/26', '02/25', '02/24', '02/21', '02/20', '02/19', '02/18', '02/17', '02/14', '02/13', '02/12', '02/11', '02/10', '02/07', '02/06', '02/05', '02/04', '02/03', '01/31', '01/30', '01/20', '01/17', '01/16', '01/15', '01/14', '01/13', '01/10', '01/09', '01/08', '01/07', '01/06', '01/03', '01/02', '12/31', '12/30', '12/27', '12/26', '12/25']

      close_price  five_day_ma
03/20       24.25          NaN
03/19       22.05          NaN
03/18        24.5          NaN
03/17       25.35          NaN
03/16        27.2        24.67
03/13        29.1        25.64
03/12       30.65        27.36
03/11        33.4        29.14
03/10        34.8        31.03
03/09        33.5        32.29
03/06       34.95        33.46
03/05          35        34.33
03/04        33.5        34.35
03/03       32.85        33.96
03/02        31.7        33.60
02/27          33        33.21
02/26       34.85        33.18
02/25        35.6        33.60
02/24          36        34.23
02/21        35.8        35.05
02/20        35.6        35.57
02/19       35.35        35.67
02/18       38.15        36.18
02/17        38.7        36.72
02/14       38.45        37.25
02/13       38.85        37.90
02/12        38.9        38.61
02/11       38.85        38.75
02/10        38.2        38.65
02/07       39.45        38.85
02/06        40.9        39.26
02/05       40.25        39.53
02/04       38.45        39.45
02/03        38.2        39.45
01/31          38        39.16
01/30        36.5        38.28
01/20        39.7        38.17
01/17        39.3        38.34
01/16       39.95        38.69
01/15       38.75        38.84
01/14       39.25        39.39
01/13        38.8        39.21
01/10       37.95        38.94
01/09       38.35        38.62
01/08        38.5        38.57
01/07        37.6        38.24
01/06       38.95        38.27
01/03          38        38.28
01/02          38        38.21
12/31        37.2        37.95
12/30        37.4        37.91
12/27       38.05        37.73
12/26        36.8        37.49
12/25        37.1        37.31